<!DOCTYPE html>
<html>
	<meta name="Mr. Shine Web Application" content="by Michael J Oria"/>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<!-- <link rel="icon" href="favicon.ico" type="image/x-icon" /> -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="./style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="script.js" type="text/javascript"></script>
	<title>Mr. Shine Web Application</title>

<head>
	<title>Welcome to Mr. Shine.</title>
</head>
<body>

	<!-- | + ~((\☼.☼/))~ + | -->

	<div class="container">

		<!-- Vector Sun -->
		<img src="./images/sun.png" width=300px height=300px title="sun_log" alt="Friendly Sun">

		 <div class="center-btn">

		 <!-- Modal Trigger -->
  					<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Who is Mr Shine?</a>

  		<!-- Modal Structure -->
  			<div id="modal1" class="modal">
    			<div class="modal-content">
      				<h4>Who is Mr. Shine?</h4>
      					<p>Mr. Shine is a motivational web-application that sends you time-stamped text messages to your mobile device.</p>
    			</div>
  				<div class="modal-footer">
      				<a href="#!" class="modal-close waves-effect waves btn-flat">Sounds Good. </a>
    			</div>
    		</div>
    	</div>

		<h1 class="mrShineWelcome">Mr. Shine Welcomes You.</h1>

		<div class="btn-align">
			<a class="waves-effect waves-light btn-large" id="white-button" href="/signup" style="background-color: #ffffff; color: #4d94ff;">Sign Up</a>
			<br>
			<a class="waves-effect waves-light btn-large" href="/login">Login</a>
		</div>

		<hr width="10%" style="margin-top: 40px">

		 <footer>
            <% include ./partials/footer %>
        </footer>
	</div>
</body>
</html>