/* | + ~((\☼.☼/))~ + | */

/* Laptop, Desktop Displays */

@media only screen and (min-width: 500px) {

body {
  font-family: AmericanTypewriter-Bold, sans-serif;
  display: flex;
  justify-content: center;
  /*margin-top: 10px;*/

}

.container {
  width: 70%;
  background-color: #6FB3FF;
  padding-bottom: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: fixed;

}

#container-login {
  display: flex;
  flex-direction: column;

}

#container-login h1 {
  margin-left: 165px;

}

.header {
  color: #ffffff;
  font-size

}

#header-out {
  font-size: 50px;
  color: #ffffff;
  text-align: center;

}

#header-reg {
  color: #ffffff;
  font-size: 42px;
  margin-left: 160px;

}

.form-group {
  margin: 0px 300px 0px 165px;

}

.form-group label, input {
  color: #ffffff;

}

.mrShineHeader {
  color: #ffffff;
  position: relative;
  text-align: center;
  font-size: 112px;

}

.mrShineWelcome{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 60px;
  text-align: center;

}

#borderBox {
  font-family: AmericanTypewriter-Bold;
  background-color: #ffffff;
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.50);
  font-size: 36px;
  color: #F6A623;
  letter-spacing: 2.99px;
  margin: 30px 120px 0px 120px;
  display: flex;
  align-items: center;

}

#borderBox-request {
  font-family: AmericanTypewriter-Bold;
  background-color: #ffffff;
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.50);
  color: #F6A623;
  letter-spacing: 2.99px;
  margin: 30px 120px 0px 120px;
  justify-content: center;

}

#borderBox-request h3 {
  font-size: 50px;
  margin: 30px;

}

#borderBox-request button {
  margin: 0px 10px 30px 160px;

}

.btn-align {
  display: flex;
  flex-direction: column;
  margin: 40px 200px 40px 200px;

}

.btn-align a {
  font-size: 14px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 0px 175px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #63B8EE;
  background: linear-gradient(top,  #63B8EE,  #468CCF);
  background: -ms-linear-gradient(top,  #63B8EE,  #468CCF);

}
#white-button a:hover {
  background-color: #6FB3FF;

}

.btn-align a:hover {
  background-color: #99ddff;
  letter-spacing: 5px;

}

.btn-align-align button {
  font-size: 14px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 0px 100px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #63B8EE;
  background: linear-gradient(top,  #63B8EE,  #468CCF);
  background: -ms-linear-gradient(top,  #63B8EE,  #468CCF);
  margin-left: 160px;


}

.btn-align-align button:hover {
  background-color: #99ddff;

}

footer {
  text-align: center;
  color: #ffffff;
  padding-top: 20px;

}

.switch label, h3 {
  display: inline-block;

}  

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #000000;

}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #6fb4ff;

}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #99ddff;

}

.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 36px;
    height: 14px;
    background-color: rgba(0,0,0,0.38);
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background 0.3s ease;
    transition: background 0.1s ease;
    vertical-align: middle;
    margin: 0 16px 30px;

}

h3 {
  padding: 20px;
  font-size: 70px;
  margin-left: 20px;

}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;

}

#schedule-text {
  margin: 0px 0px 40px 165px;

}

#schedule-text li {
    display: inline-block;
    margin: 30px 37px 0px 0px;
    color: #ffffff;
    font-size: 13px;
    font-family: AmericanTypewriter;

}

#register-id {
  color: #ffffff;
  text-align: center;
  font-family: AmericanTypewriter;

}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #6FB3FF;

}

.center-btn {
  font-family: AmericanTypewriter;
  float: right;
  margin: 15px;

}

.center-btn a {
  font-size: 20px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 1px 30px;
  margin: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #63B8EE;
  background: linear-gradient(top,  #63B8EE,  #468CCF);
  background: -ms-linear-gradient(top,  #63B8EE,  #468CCF);

}

.center-btn h5 {
  margin: 50px;

}


.center-btn a:hover {
  background-color: #99ddff;

  }

}


/* Mobile Device Displays */
@media only screen and (max-width: 500px) {